<!--o210148
1707027050-->




<!DOCTYPE html>
<html>


<head>

	<title>Responsive our service page</title>
	<!--external css file-->
	<link rel="stylesheet" type="text/css" href="ourServices.css">
	<!-- Boxican font css-->
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

</head>

<body>



	<div class="wrapper">

		<h1><u>Our Services</u></h1>
		<p></p>


		<div class="content-box">
			<!--<div class="card">
	<i class="bx bx-bar-chart-alt bx-md"></i>
	<h2>service1 service </h2>
	<p>
	something about above service description
	
	</p>

	</div>
-->
			<div class="card">
				<i class="bx bx-leaf bx-md"></i>
				<h2>Soil Based Crop Recommendation </h2>
				

			</div>

			<div class="card">
				<i class="bx bx-line-chart bx-md"></i>
				<h2> Growth Suggestions and Care</h2>
				

			</div>
			<div class="card">
				<i class="bx bx-line-chart bx-md"></i>
				<h2> Growth Suggestions and Care</h2>
				

			</div>
			<div class="card">
				<i class="bx bx-test-tube bx-md"></i>
				<h2> Natural Fertilizers </h2>
				

			</div>

			<div class="card">
				<i class="bx bx-search-alt-2 bx-md"></i>
				<h2> Disease Detection</h2>
				
			</div>
			<div class="card">
				<i class="bx bx-donate-heart bx-md"></i>
				<h2> Treatment Recommendations</h2>
				
			</div>

		</div>

	</div>

</body>

</html>



<!--





 
-->